.alert{
  font-size:2vh;
  color:#f00;
  margin-top: 1vh;
}
.success-alert{
  font-size:2vh;
  color:rgb(6, 125, 0);
  margin-top: 1vh;
}

.loginBox{
  margin-top: 8vh;
  backdrop-filter: blur(15px);
}

.modalHeader{
  height: 7vh;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

.col-sm-5{
  font-weight: bold;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.btn{
  margin-left: 1.5vh;
  margin-bottom: 1vh;
}

fieldset{
  margin-top: -2.5vh;
}
h3{
  padding-top: 2vh;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.heading{
  margin-bottom: 2vw;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  /* display: flex; */
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.modalBody{
  background-image: url("../public/images/pawprint.png");
  background-size: cover;
  background-blend-mode: lighten;
}