#page-wrap {
    text-align: center;
    /* Prevent sidebar from showing a scrollbar on page */
    /* overflow: auto; */
  }

  .vertical-menu {
    width: 13%;
    margin-top: 6vh;
    overflow-y: auto;
    overflow-x: auto;
    float: left;
    height: 100vh;
    background-color: rgb(201, 224, 242);
    text-align: left;
    flex-grow: 1;
    position: fixed;
    padding-bottom: 5vw;
    font-weight: bold;

  }
  .vertical-menu-right{
    width: 15%;
    margin-top: 10vh;
    overflow: auto;
    height: 100vh;
    background-color: white;
    float: right;
    text-align: center;
    flex-grow: 1;
    position: sticky;
    flex-grow: 1;
    font-weight: bold;
    margin-right: 1vh;
  }

 .vertical-menu a {
    color: black;
    display: block;
    text-decoration: none;
    padding-top: 2vh;
  }
  .vertical-menu a:hover {
    background-color: #ccc;
  }

  .vertical-menu a:active {
    background-color: rgb(71, 16, 236);
  }

  .vertical-menu-right a {
    color: black;
    display: block;
    text-decoration: none;
    align-content: center;
    overflow: hidden;
  }
  .vertical-menu-right a:hover {
    background-color: #ccc;
  }

  .vertical-menu-right a:active {
    border: 3px solid #001F3F;
    background-color: rgb(71, 16, 236);
  }

  .center-page{
    padding-top: 10vh;
    display: inline-block;
    /* position: sticky; */
    width: 65%;
    margin-left: 13%;
    flex-grow: 1;
    overflow: auto;
  }

  .leftIcon{
    padding: 5%;
    margin: 10%;
    cursor: pointer;
    margin-top: 10%;
    border: 3px solid #001F3F;
    background-color: white;
  }

  .rightIcon{
    padding: 5%;
    margin: 10%;
    cursor: pointer;
    margin-top: 10%;
    height: 100%;
    width: 100%;
  }

  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .AddDog{
    background-color: transparent;
    border: 1px solid transparent;
  }

  .AddDog:active {
    background-color: rgb(0, 134, 230);
    border: 2px solid #001F3F;
  }
  
  .AddDog:hover {
    background-color: rgb(154, 203, 239);
  }